<!DOCTYPE html>
<html>

<head>

    <title></title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="fondo">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
            </a>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1 class="mainTitle">Librería del club de autores</h1>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-7">
                    <div class="row">
                        <div class="col-12 formulario p-5">
                            <form>
                                <div class="form-group">
                                    <label for="Enter name"> Autor</label>
                                    <input type="text" class="form-control shadow p-3 mb-5 bg-white rounded" id="name" placeholder="Enter Name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control shadow p-3 mb-5 bg-white rounded" id="lastname" placeholder="Enter lastname">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control shadow p-3 mb-5 bg-white rounded" id="year" placeholder="Enter year">
                                </div>

                                <button type="submit" class="btn btn-outline-secondary updateButton">Save</button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 formulario p-5">
                            <form>
                                <label for="title">Libro</label>
                                <div class="form-group">
                                    <input type="text" class="form-control shadow p-3 mb-5 bg-white rounded" id="title" placeholder="Enter title">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control shadow p-3 mb-5 bg-white rounded" id="genre" placeholder="Enter genre">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control shadow p-3 mb-5 bg-white rounded" id="artist.name"
                                        placeholder="Proximamente: Author name" readonly>
                                </div>

                                <button type="submit" class="btn btn-outline-secondary updateButton">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="col-12 formulario">
                        <% results.forEach(function(results)) { %>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item" name="title"><%= results.name %></li>
                                <li class="list-group-item" name="genre"><%= results.lastname %></li>
                                <li class="list-group-item" name="year"><%= results.year %></li>

                                <a href="/deleteartist/<%= results.id %>">Delete</a>
                                <a href="/update/<%= results.id %>">Update</a>
                              </ul>
                        <% )}; %>

                        <% results.forEach(function(results)) { %>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item" name="title"><%= results.title %></li>
                                <li class="list-group-item" name="genre"><%= results.genre %></li>

                                <a href="/deletebook/<%= results.id %>">Delete</a>
                                <a href="/update/<%= results.id %>">Update</a>
                              </ul>
                        <% )}; %>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>